* {
    padding:0px; margin:0px;
}

body {
    margin:0px;
    overflow: hidden;
}

#canvas{
   border: 1px solid #ADACB0;
}

#title {
	font-size: 24px;
	text-align: center;
	margin-top: 200px;
}

#account {
	font-size: 30px;
	width: 250px;
	height: 35px;
	margin: auto;
	display: block;
	border:1px solid;
	border-radius:5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

button {
	width: 100px;
	height: 40px;
	margin: auto;
	display: block;
	margin-top: 20px;
	border:1px solid;
	border-radius:5px;
}

#bottom_tips {
	margin-top: 20px;
	font-size: 12px;
	text-align: center;
}

#tips {
	font-size: 20px;
	position: absolute;
	background-color:rgba(0,0,0,0.5); 
	border-radius:10px;
	color:white;
	text-align: center;
	line-height: 50px;
	height:50px;
}